body
	background-color: #3e3127

.navbar
	.nav-link
		color: red
		font-size: 1.1rem
		text-align: center
		text-transform: uppercase
		padding: .5rem
		transition: all .4s ease
		border-radius: 5px 5px 5px 5px
	.nav-link:hover
		color: white
		background-color: #e76e2d	
			
	.fa
		color: #e76e2d 
		font-size: 2rem

.card-group
	margin-top: 4.4rem
	margin-bottom: 4rem
	.card
		text-align: center
		max-width: 220px
		min-width: 220px
		.card-block
			padding: 0.25rem
			height: 0.1rem
			background-color: #e76e2d
		.card-img-top
			max-height: 100px
			max-width: auto
		.card-footer
			background-color: #363636
			color: #fff
			padding-left: 6px
			padding-right: 6px
			.dropdown-toggle-split
				padding-bottom: 0rem
				padding-top: 0rem
.btn
	border-radius: 25px

.pagination
	.page-link
		color: #e76e2d